<div class="jumbotron text-center">
    <h1>Tux Advogados</h1>
    <p>Com você em todos os casos!</p>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h3>Colaboradores presentes</h3>
        <p>Trabalhamos de forma humanizada, sempre priorizando a sua necessidade.</p>
      </div>
      <div class="col-sm-4">
        <h3>Preço em conta</h3>
        <p>Disponiveis a acordos em conta com o que você pode pagar.</p>
      </div>
      <div class="col-sm-4">
        <h3>Profissionalismo acima de tudo</h3>
        <p>Etiquetas no trabalho sempre para garantir sua segurança.</p>
      </div>
    </div>
  </div>
