<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-3" *ngFor="let foto of clientes">
            <div class="card" style="width: 18rem;">
                <app-foto [imagen]="foto.img"></app-foto>
                <div class="card-body">
                  <h5 class="card-title">{{foto.title}}</h5>
                  <h5 class="card-title">{{foto.age}}</h5>
                  <h5 class="card-title">{{foto.situacao}}</h5>
                </div>
              </div>
        </div>
    </div>
</div>
